<!DOCTYPE html>
<html>
    <body>
        <h1>{{student.roll_no}}</h1>
        <p>{{student.name}}</p>
        <p>
            <a href="{% url 'student_list' %}">All Students</a>
        </p>
    </body>
</html>
