<!DOCTYPE html>
<html>
    <body>
        <h2>All students:</h2>
        <table border = "1">
            {% for student in students %}
            <tr>
                <td><a href="{% url 'student_detail' student.roll_no %}">{{student}}</a></td> 
                <td><a href="{% url 'delete_student' student.roll_no %}">Delete</a></td>
                <td><a href="{% url 'edit_student' student.id %}">Edit</a></td>
            </tr>
            {% endfor %}
        </table>
            <p>
                <a href="{% url 'create_student' %}">Create a new student</a>
            </p>
       
    </body>
</html>
